<!DOCTYPE html>
<html>
	<!-- Head -->
	<head>
		<title>Spotify User Info</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<style>
			html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
		</style>
	</head>

	<!-- Body -->
	<body class="w3-light-grey">
		<!-- Page Container -->
		<div class="w3-content w3-margin-top" style="max-width:1400px;">
  		<!-- The Grid -->
  		<div class="w3-row-padding">

    		<!-- Left Column -->
    		<div class="w3-third">

					<!-- User information -->
      		<div class="w3-white w3-text-grey w3-card-4">

						<!-- Image & name -->
						<div class="w3-container" style="padding: 10px;">
							{% if sorted_array['images'] == [] %}
								<img src="https://vignette.wikia.nocookie.net/bridgitmendler/images/7/70/Example.png/revision/latest?cb=20170418011454" alt="Avatar" style="display: block; margin: auto;">
							{% else %}
							  <img src={{ sorted_array['images'][0]['url'] }} alt="Avatar" style="display: block; margin: auto; max-width: 100%;">
							{% endif %}
							<h2 style="text-align: center;">{{sorted_array['id']}}</h2>

							<p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-green"></i>{{sorted_array['country']}}</p>
	          	<p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-green"></i>{{sorted_array['email']}}</p>
							<p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-large w3-text-green"></i>{{sorted_array['birthdate']}}</p>
							<p><i class="fa fa-group fa-fw w3-margin-right w3-large w3-text-green"></i>{{sorted_array['followers']['total']}}</p>
							{% if sorted_array['product'] == 'premium' %}
								<p><i class="fa fa-star fa-fw w3-margin-right w3-large w3-text-green"></i>Premium account</p>
							{% elif sorted_array['product'] == 'free' %}
								<p><i class="fa fa-star-o fa-fw w3-margin-right w3-large w3-text-green"></i>Free account</p>
							{% endif %}
        		</div>
      		</div>
					<br>

					<!-- User playlist information -->
					<div class="w3-white w3-text-grey w3-card-4">

						<!-- Image & name -->
						<div class="w3-container" style="padding: 10px;">
							<h2 style="text-align: center;">User Playlist Info</h2>
							<p><b> Number of playlists: </b>{{ sorted_array['user_playlists_len'] }}</p>
							<p><b> Total no. of songs: </b>{{ sorted_array['user_playlist_total'] }}</p>
							<p><b> Avg no. of songs:</b>{{ (sorted_array['user_playlist_total'] / sorted_array['user_playlists_len'])|int }}</p>
						</div>
					</div>
					<br>

					<!-- Followed playlist information -->
					<div class="w3-white w3-text-grey w3-card-4">

						<!-- Image & name -->
						<div class="w3-container" style="padding: 10px;">
							<h2 style="text-align: center;">Followed Playlist Info</h2>
							<p><b> Number of playlists: </b>{{ sorted_array['follow_playlists_len'] }}</p>
							<p><b> Total no. of songs: </b>{{ sorted_array['follow_playlist_total'] }}</p>
							<p><b> Avg no. of songs:</b>{{ (sorted_array['follow_playlist_total'] / sorted_array['follow_playlists_len'])|int }}</p>
						</div>
					</div>
    		</div>

		    <!-- Right Column -->
		    <div class="w3-twothird">

					<!-- Playlists -->
		      <div class="w3-container w3-card w3-white w3-margin-bottom">
		        <h2 class="w3-text-grey w3-padding-16" style="text-align: center;"></i>Playlists</h2>

						<!-- User Playlists -->
						<div class="w3-container">
							<h3 class="w3-text-grey w3-padding-16">
								<span class="fa fa-cloud-upload w3-text-green fa-fw w3-margin-right"></span>
								User Playlists&nbsp;
							  <span class="w3-tag w3-green w3-round">{{ sorted_array['user_playlists_len'] }}</span>
							</h3>
							<!-- For each playlist -->
							{% for pl in sorted_array['user_playlists'] %}
								<div class="w3-row">
									<!-- Names -->
									<div class="w3-col" style="width:30%">
										<p>{{ pl['name'] }}</p>
									</div>
									<!-- Size -->
									<div class="w3-col" style="width:60%;">
										<p></p>
										<div class="w3-row">
											<div class="w3-col w3-green" style="width:{{ (pl['tracks']['total'] / sorted_array['max_size'])*100 }}%"><p></p></div>
										</div>
									</div>
									<!-- No. of songs -->
									<div class="w3-col" style="width:10%; text-align:center;">
										<span class="w3-tag w3-green w3-round">{{ pl['tracks']['total'] }}</span>
									</div>
								</div>
							{% endfor %}
							<hr>
		        </div>

						<!-- Followed Playlists -->
						<div class="w3-container">
							<h3 class="w3-text-grey w3-padding-16">
								<span class="fa fa-cloud-download w3-text-green fa-fw w3-margin-right"></span>
								Followed Playlists&nbsp;
								<span class="w3-tag w3-green w3-round">{{ sorted_array['follow_playlists_len'] }}</span>
							</h3>
							<!-- For each playlist -->
							{% for pl in sorted_array['follow_playlists'] %}
								<div class="w3-row">
									<!-- Names -->
									<div class="w3-col" style="width:30%">
										<p>{{ pl['name'] }}</p>
									</div>
									<!-- Size -->
									<div class="w3-col" style="width:60%;">
										<p></p>
										<div class="w3-row">
											<div class="w3-col w3-green" style="width:{{ (pl['tracks']['total'] / sorted_array['max_size'])*100 }}%"><p></p></div>
										</div>
									</div>
									<!-- No. of songs -->
									<div class="w3-col" style="width:10%; text-align:center;">
										<span class="w3-tag w3-green w3-round">{{ pl['tracks']['total'] }}</span>
									</div>
								</div>
							{% endfor %}
							<hr>
						</div>
		      </div>
				</div>
  		</div>
		</div>

		<!-- Footer -->
		<footer class="w3-container w3-teal w3-center w3-margin-top">
		  <p>Find me on social media.</p>
		  <i class="fa fa-facebook-official w3-hover-opacity"></i>
		  <i class="fa fa-instagram w3-hover-opacity"></i>
		  <i class="fa fa-snapchat w3-hover-opacity"></i>
		  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
		  <i class="fa fa-twitter w3-hover-opacity"></i>
		  <i class="fa fa-linkedin w3-hover-opacity"></i>
		  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
		</footer>
	</body>
</html>
